<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="User" type="fr.uge.jee.springmvc.pokematch.User"*/-->
    <form action="#" th:action="@{/pokemon}" method="post" th:object="${User}">
      <div><label for="firstname">First Name:</label>
        <input id="firstname" type="text" th:field="*{firstName}">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid first name</span>
      </div>

      <div><label for="lastName">Last Name:</label>
        <input id="lastName" type="text" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid last name</span>
      </div>

        <div th:if="${fetish != null}">
            Your fetish Pokémon is : <span th:text="${fetish}"></span>
        </div>

        <div th:if="${fetish != null}">
        <img th:src="'data:image/png;base64,' + ${imageURL}" alt="Image du pokemon fetish"/>
        </div>

        <ul>
            <!--/*@thymesVar id="Pokemon" type="fr.uge.jee.springmvc.pokematch.Pokemon"*/-->
            <li th:each="pokemon : ${listOfMostFetish}" th:text="${pokemon}"></li>
        </ul>

      <div><button type="submit">Send</button></div>
    </form>
</body>
</html>